<form action="" method="">
    <fieldset>
        <legend>User Identification</legend>
        <div class="form-group">
            <label class="floating-label" for="name">Name</label>
            <input class="floating-label" type="text" id="name" name="name" required>
            <small class="error-message" id="name-error"></small> 
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName" required>
            <small class="error-message" id="lastName-error"></small>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
            <small class="error-message" id="email-error"></small>
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            <input type="number" id="age" name="age" required>
            <small class="error-message" id="age-error"></small>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn-submit">Confirm</button> 
        </div>
    </fieldset>
</form>